# Server config
PORT = 
USERS_FILE =

# Safety config
USER_ATTEMPT_LIMIT = 
USER_ATTEMPT_WINDOW =  #In milliseconds
IP_ATTEMPT_LIMIT = 
IP_ATTEMPT_WINDOW =  #In milliseconds
HONEYPOT_THRESHOLD = 
TOKEN_CLEANUP_TIME =  #In milliseconds
TOKEN_EXPIRE_TIME =  #In milliseconds

# AWS Lambda
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
AWS_REGION =
MAX_LAMBDA_CALLS_PER_DAY =

# Supervisor API
API_PORT =